@media screen and (max-width: 320px){
    div#body-container {
        width: 100%;
        margin: 0;
    }
    
    #home img {
        display: none;
    }

    #nav-menu {
        height: 5em;
    }

    header#nav-menu {
        justify-content: space-evenly;
        position: relative;
        /* background-color: rgba(0, 0, 0, 0.13); */
    }

    #nav-menu nav {
        position: absolute;
        width: 100%;
        left: 0;
    }


    #nav-menu .menus {
        position: absolute;
        box-sizing: border-box;
        display: none;
        /* background-color: rgb(65, 153, 124); */
        padding: 0px 0px;
        width: 100%;
        top: 3.5em;
        text-align: center;
    }

    header#nav-menu > div > h1 {
        font-size: .9em;
    }

    header#nav-menu > div > i {
        font-size: 1.1em;
    }

    #menu-icon {
        display: block;
        padding: 10px;
        margin: 0 0 0 20px;
    }

    section#home {
        display: block;
        width: 100%;
        margin: 0;
    }

    section#home > main {
        padding: 0;
    }

    #home > main > div.content > article {
        width: 320px;
        padding: 10px;
    }

    #home > main > div.content > article > p {
        font-size: 1em;
        padding-left: 20px;
    }

    #home > main .content > article h2 {
        font-size: 1.2em;
        margin: 10px 0px 30px 60px;
    }

    #home > main> div.content > article div.console {
        min-width: none; 
        width: 100%;
        font-size: .8em;
        padding: 15px 6px;
    }

    #home > main > div.content > article footer {
        margin: 20px 0px 0px 25px;
    }

    #home > main > div.content > article footer a i {
        font-size: 2em;
    }

    #home > main > div.content > aside {
        width: 0px;
    }

    section#about {
        display: none;
    }

    section#skills {
        display: none;
    }

    section#portifolio {
        display: none;
    }

    footer#contact {
        display: none;
    }
}



@media screen and (max-width: 1600px) {

    div#body-container {
    }

    #nav-menu {
        padding: 0 8em;
    }

    #nav-menu > div h1 {
        font-size: 1.5em;
    }
    
    #nav-menu > div > i {
        font-size: 1.7em;
    }

    #nav-menu nav ul li {
        font-size: 1em;
    }
    #home > main > div.content > article p {
    }

    #home > main > div.content > article h2 {
    }

    #home > main > div.content > article div.console{
    }

    #home > main > div.content > article div.console p {
        font-size: 1.3em;
    }

    #home > main > div.content > article footer a i{
    }

    #home > main > div.content > aside img {
        width: 80%;
        min-width: 380px
    } 
}

@media screen and (max-width: 1200px) {
    #nav-menu > div h1 {
        font-size: 1.4em;
    }
    
    #nav-menu > div > i {
        font-size: 1.6em;
    }

    #nav-menu nav ul li {
        font-size: .9em;
    }

    #home > main > div.content > article p {
    }

    #home > main > div.content > article h2 {
    }
    
    #home > main > div.content > article div.console{
    }

    #home > main > div.content > article div.console p {
        font-size: 1.1em;
    }

    #home > main > div.content > aside img {
        width: 70%;
        min-width: 320px
    }

    #home > main > div.content > article footer a i{

    }
}

@media screen and (max-width: 1024px) {
    
}

/* @media screen and (max-width: 480px){
    #home img {
        display: none;
    }

    #nav-menu .menus {
        display: none;
    }

    #menu-icon {
        display: block;
    }
} */

