#nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7em;
    width: 100%;
    padding: 0 13.5em;
    color: var(--dark-gray);
    box-sizing: border-box;
    top: 0;
    left: 0;
    transition: .6s;
    position: fixed;
    z-index: 2;
}

#nav-menu > div {
    display: flex;
    align-items: center;
    gap: 1em;
}

#nav-menu > div > i {
    font-size: 2em;
}

#nav-menu nav ul {
    display: flex;
    gap: 3em;
}

#nav-menu nav ul li {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 700;
    /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267); */
    transition: .4s;
}

#nav-menu nav ul li a {
    text-decoration: none;
    color: #505050;;
}

#nav-menu nav ul li:hover,
#nav-menu nav ul li a:hover {
    transform: translate(2px, -3px);
    color: var(--light-gray);
}

.scroll {
    background-color: var(--dark-gray);
    height: 4.5em !important;
    color: #ebebeb !important;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.527);
}

.scrollb {
    background-color: var(--dark-gray);
    height: 6em !important;
    color: #ebebeb !important;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.527);
}

.scrolla {
    color: #ebebeb !important;
}

.scrolla:hover {
    color: var(--light-gray) !important;
}

#menu-icon {
    display: none;
}