@media  screen and (max-width: 1752px) {
    .head-content h2 {
        font-size: 1.8em;
        width: 170px;
        left: 150px;
    }

    .content {
        width: 60%;
    }

    .main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 240vh;
    }

    body {
        height: 245vh;
    }
}

@media  screen and (max-width: 1450px) {
    .main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 240vh;
    }

    .head-content h2 {
        left: 130px;
        font-size: 1.6em;
    }

    .content {
        width: 50%;
        min-width: 360px;
    }

    body {
        height: 245vh;
    }
}

@media screen and (max-width: 320px) {
    .content {
        width: 80vw;
        min-width: 300px;
        height: 80vh;
    }

    .main-content {
        height: 400vh;
    }

    .profile-image {
        width: 120px;
    }

    .head-content > h2 {
        position: relative;
        left: 0;
        margin-top: 20px;
    }

    .head-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


